In [131]:
# Librerias

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

### 1.- Carga la base de datos de películas que tiene información sobre películas, incluyendo el título(title), género (category ) y duración en minutos(length).

In [132]:
peliculas = pd.read_csv('https://raw.githubusercontent.com/jimmyzac/Estadistica-Aplicada-FCFM-UANL/main/bases_datos/peliculas.csv')
peliculas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             1000 non-null   object
 1   description       1000 non-null   object
 2   release_year      1000 non-null   int64
 3   rental_rate       1000 non-null   float64
 4   length            1000 non-null   int64
 5   rating            1000 non-null   object
 6   special_features  1000 non-null   object
 7   category          997 non-null    object
dtypes: float64(1), int64(2), object(5)
memory usage: 62.6+ KB

In [133]:
# 1 - A) Cuantas peliculas cuantos generos y cuanto dura en promedio las peliculas


numPeliculas = peliculas['title'].count()
generos = peliculas['category'].value_counts().count()
avglength = peliculas['length'].mean()

print(f'El numero de peiculas es: {numPeliculas} \nEl numero de categorias es: {generos} \nCon una duracion promedio de: {avglength} minutos')

El numero de peiculas es: 1000
El numero de categorias es: 16
Con una duracion promedio de: 115.272 minutos

In [134]:
# 1 - B) crea un dataframe llamado películas_dormir con las películas que tienen una duración superior a 2 horas y sean documentales

peliculas_dormir = peliculas[peliculas['length']>180].query('category == "Documentary"')

peliculas_dormir

,title,description,release_year,rental_rate,length,rating,special_features,category
972,Wife Turn,A Awe-Inspiring Epistle of a Teacher And a Fem...,2006,4.99,183,NC-17,"Deleted Scenes,Behind the Scenes",Documentary
995,Young Language,A Unbelieveable Yarn of a Boat And a Database ...,2006,0.99,183,G,"Trailers,Behind the Scenes",Documentary

In [135]:
# 1- C) Contar cuántas películas de cada género existen

print(peliculas.groupby('category').count()['title'], '\n\ny 3 peliculas sin Categoria')

# y 3 peliculas sin categoria

category
Action         64
Animation      66
Children       60
Classics       57
Comedy         58
Documentary    68
Drama          61
Family         69
Foreign        73
Games          61
Horror         56
Music          51
New            63
Sci-Fi         61
Sports         73
Travel         56
Name: title, dtype: int64

y 3 peliculas sin Categoria

In [136]:
# 1 - D) Calcular la duración promedio de las películas de cada género

peliculas.groupby('category')['length'].mean().round(2)

category
Action         111.61
Animation      111.02
Children       109.80
Classics       111.67
Comedy         115.83
Documentary    108.75
Drama          119.89
Family         114.78
Foreign        121.70
Games          127.84
Horror         112.48
Music          113.65
New            111.13
Sci-Fi         108.20
Sports         127.51
Travel         113.38
Name: length, dtype: float64

In [137]:
# 1 - E) Crear una nueva columna que indique si una película es 
# "Corta" (duración menor a 1.5 horas), "Normal" (entre 1.5 y 2.5 horas) o "Larga" (mayor a 2.5 horas)

peliculas['Duracion'] = np.where(peliculas['length'] < 90, 'Corta', np.where(peliculas['length'] < 150, 'Normal', 'Larga'))

peliculas[['title', 'length', 'Duracion']]

                 title  length Duracion
0     Academy Dinosaur      86    Corta
1       Ace Goldfinger      48    Corta
2     Adaptation Holes      50    Corta
3     Affair Prejudice     117   Normal
4          African Egg     130   Normal
..                 ...     ...      ...
995     Young Language     183    Larga
996         Youth Kick     179    Larga
997       Zhivago Core     105   Normal
998  Zoolander Fiction     101   Normal
999          Zorro Ark      50    Corta

[1000 rows x 3 columns]

### 2.- Sabemos que en el caso de México, esta formado por estados, y cada estado esta formado por municipios. La base de datos población_Asgard contiene los datos de un país llamado Asgard, formado por estados y estos a su vez por municipios. Para cada municipio se reporta su población.

In [138]:
poblacion = pd.read_csv('https://raw.githubusercontent.com/jimmyzac/Estadistica-Aplicada-FCFM-UANL/main/bases_datos/poblacion_Asgard.csv')

In [139]:
# 2 - A) Ordena la base alfabéticamente por estado y por municipio

poblacion = poblacion.sort_values(['Estado', 'Municipio'])

In [140]:
# 2 - B) Cuantos estados hay, cuantos municipios hay en cada estado y cuantos municipios hay en total.


numEstados = len(poblacion.groupby('Estado').count())

numMunicipioxEstado = pd.DataFrame(poblacion.groupby('Estado')['Municipio'].count())

numMunicipio = poblacion['Municipio'].count()



print(f'[1] Hay {numEstados} estados. \n\n[2] Hay 6 municipios por estados.\n    lista: \n{numMunicipioxEstado} \n\n[3] Y hay {numMunicipio} de nunicipios.')

[1] Hay 15 estados.

[2] Hay 6 municipios por estados.
    lista:
           Municipio
Estado
Alderaan           6
Atlantis           6
Endor              6
Genosha            6
Gotham             6
Mandalore          6
Mordor             6
Mustafar           6
Naboo              6
Narnia             6
Pandora            6
Sokovia            6
Tatooine           6
Wakanda            6
Yaven              6

[3] Y hay 90 de nunicipios.

In [141]:
# 2 - C) Cuanta población tiene el país en total y cuanta población tiene cada estado

numPoblacion = poblacion['Población'].sum()

numPoblacionxEstado = pd.DataFrame(poblacion.groupby('Estado')['Población'].sum())

print(f'El país tiene una poblacoin de : {numPoblacion} \n\nLista de Poblacion por Estado: \n\n{numPoblacionxEstado}')

El país tiene una poblacoin de : 43114719

Lista de Poblacion por Estado:

           Población
Estado
Alderaan     2283452
Atlantis     3779656
Endor        2427956
Genosha      2871584
Gotham       3204304
Mandalore    2044164
Mordor       3627119
Mustafar     2183880
Naboo        1602111
Narnia       2961407
Pandora      2959272
Sokovia      4722224
Tatooine     2770055
Wakanda      2905562
Yaven        2771973

In [142]:
# 2 - D) Calcula la mediana de la población de los municipios, y clasifícalos, aquellos por
#       arriba de la mediana deben llamarse “muy poblados” y aquellos debajo de la mediana “poco poblados”

media = poblacion['Población'].mean()

poblacion['Clasificación'] = np.where(poblacion['Población'] > media, 'muy poblados', 'poco poblados')

poblacion

      País    Estado       Municipio  Población  Clasificación
16  Asgard  Alderaan     Ciudad Jedi     130312  poco poblados
1   Asgard  Alderaan   Fuente Dorada      49984  poco poblados
31  Asgard  Alderaan        Luz azul     914910   muy poblados
76  Asgard  Alderaan          Madero     774290   muy poblados
46  Asgard  Alderaan      San Isidro     159338  poco poblados
..     ...       ...             ...        ...            ...
8   Asgard     Yaven       El Bosque     649663   muy poblados
83  Asgard     Yaven      Green Flag     380989  poco poblados
68  Asgard     Yaven     Santa María     111687  poco poblados
53  Asgard     Yaven     Villa Wendy     646914   muy poblados
38  Asgard     Yaven  Villa amarilla     274109  poco poblados

[90 rows x 5 columns]

In [143]:
# 2 - E) Encuentra los 5 municipios mas poblados y los cinco municipios menos poblados del país

municipioMasPoblado = poblacion.sort_values('Población')[['Municipio', 'Población']].head(5)
municipioMenosPoblado = poblacion.sort_values('Población')[['Municipio', 'Población']].tail(5)

print(f'Los 5 municipios mas poblados son: \n{municipioMasPoblado}\n\nLos 5 municipios menos poblados son: \n{municipioMenosPoblado}')

Los 5 municipios mas poblados son:
      Municipio  Población
17  Ciudad Jedi      13666
14     Luz roja      14986
39   Villa rosa      25538
26  Shelbyville      31535
85  Mar violeta      44585

Los 5 municipios menos poblados son:
        Municipio  Población
79    Yellow town     974324
74  Gral Escobedo     974548
6        La Unión     986067
27    Villa Norte     997107
34       Madripur     998079

In [156]:
# 2 - F) El municipio más poblado de cada estado

poblacion.groupby('Estado')['Población'].idxmax()
municipioMasPobladoxEstado = poblacion.loc[poblacion.groupby('Estado')['Población'].idxmax()][['Estado', 'Municipio', 'Población']]

print(f'Municipio mas poblado de cada Estado:\n\n{municipioMasPobladoxEstado}')

Municipio mas poblado de cada Estado:

       Estado         Municipio  Población
31   Alderaan          Luz azul     914910
88   Atlantis      Mar amarillo     961061
69      Endor       Santa María     875371
32    Genosha   Villa Lannister     822654
55     Gotham       Playa Verde     918710
71  Mandalore         San Pedro     736716
34     Mordor          Madripur     998079
27   Mustafar       Villa Norte     997107
33      Naboo          Luz azul     602661
74     Narnia     Gral Escobedo     974548
60    Pandora  Villa Demogorgon     969140
6     Sokovia          La Unión     986067
50   Tatooine      Villa Marlon     925414
82    Wakanda          Redgreen     880858
23      Yaven          Amanecer     708611

### 3.- Genera un grafico de barras de:

In [157]:
# 3 - A) Los 15 municipios más poblados de Asgard

In [158]:
# 3 - B) Cuantas peliculas hay de cada género