# Estadistica aplicada
Sesion 4, 14 agosto

Salvador ALmaguer Orta - 2076430

In [69]:
#Lista
lista = ['Jaime', 'Pedro', 'Maria']

In [70]:
lista.append('Jimena')

In [71]:
# Tuplas
tupla1 = (23, 45, 'libro')

In [72]:
type(tupla1)

tuple

In [73]:
tupla1.append('pluma')

AttributeError: 'tuple' object has no attribute 'append'

La principal caracteristica e una upla es qeu es inmutable, no se puede modificar

Disccionarios (mapeo de valores)

In [74]:
# Un disccionario es un par de clave.valor

alum_dic = {'Nombre':'Juan', 'Apellido':'Perez', 'Edad':21}

In [75]:
alum_dic['Nombre']

'Juan'

In [76]:
alum_dic['Edad']

21

In [77]:
alum_dic.keys()

dict_keys(['Nombre', 'Apellido', 'Edad'])

In [78]:
alum_dic.values()

dict_values(['Juan', 'Perez', 21])

In [79]:
# Crear diccionario de los alumnos del Grupo 
estadistica_g41 = {'Nombre':['Juan','Sebas','Soreli'], 'Edad':[19, 19, 18.5]}

In [80]:
estadistica_g41.keys()

dict_keys(['Nombre', 'Edad'])

In [81]:
estadistica_g41.values()

dict_values([['Juan', 'Sebas', 'Soreli'], [19, 19, 18.5]])

## Pandas
Se utiliza para manipular datos estructurados.
Esta costruida sobre Numpy, eso significa que cualquier funcion de Numpy funciona en Pandas.
En pandas hay 3 estructuras de datos:
1. Series (unidireccionales)
2. Data Frame (datos en filas y columnas)
3. Panel (tiempo)

Supongamos que conosemos las eadades de las siguientes personas: Juan 10 años, Pedor 20, Jorge 30, ale 40, Alba 50

In [82]:
edades = [10, 20, 30, 40, 50]

In [83]:
edades

[10, 20, 30, 40, 50]

In [84]:
import pandas as pd

In [85]:
serie1 = pd.Series(edades, index=['Juan', 'Pedro', 'Jorge', 'Ale', 'Alba'])

In [86]:
serie1

Juan     10
Pedro    20
Jorge    30
Ale      40
Alba     50
dtype: int64

In [87]:
serie1.mean()

30.0

In [88]:
serie1.var()

250.0

In [89]:
serie1.std()

15.811388300841896

## DataFreme
Datos en filas y columnas

In [90]:
alumno1 = ['Juan', 'Perez', 23]
alumno2 = ['Raul', 'Gonzales', 17]
alumno3 = ['Jimena', 'Rojas', 20]
alumno4 = ['Alejandra', 'Saldaña', 21]

In [91]:
class_estadistica = [alumno1, alumno2, alumno3, alumno4]

In [92]:
class_estadistica

[['Juan', 'Perez', 23],
 ['Raul', 'Gonzales', 17],
 ['Jimena', 'Rojas', 20],
 ['Alejandra', 'Saldaña', 21]]

In [93]:
df_class = pd.DataFrame(class_estadistica, columns = ['Nombre', 'Apellido', 'Edad'])

In [94]:
type(df_class)

pandas.core.frame.DataFrame

In [95]:
df_class

      Nombre  Apellido  Edad
0       Juan     Perez    23
1       Raul  Gonzales    17
2     Jimena     Rojas    20
3  Alejandra   Saldaña    21

In [96]:
df_class.index

RangeIndex(start=0, stop=4, step=1)

In [97]:
df_class.columns

Index(['Nombre', 'Apellido', 'Edad'], dtype='object')

In [98]:
df_class['Estado'] = ['NuvoLeon', 'Coahuila', 'NuevoLeon', 'Veracruz']

In [99]:
df_class

      Nombre  Apellido  Edad     Estado
0       Juan     Perez    23   NuvoLeon
1       Raul  Gonzales    17   Coahuila
2     Jimena     Rojas    20  NuevoLeon
3  Alejandra   Saldaña    21   Veracruz

In [100]:
df_class = df_class.set_index('Nombre')

In [101]:
df_class['edad en disa'] = df_class['Edad']*365

In [102]:
df_class

           Apellido  Edad     Estado  edad en disa
Nombre
Juan          Perez    23   NuvoLeon          8395
Raul       Gonzales    17   Coahuila          6205
Jimena        Rojas    20  NuevoLeon          7300
Alejandra   Saldaña    21   Veracruz          7665

In [103]:
df_class['Edad en meses'] = df_class['Edad']*12

In [104]:
df_class

           Apellido  Edad     Estado  edad en disa  Edad en meses
Nombre
Juan          Perez    23   NuvoLeon          8395            276
Raul       Gonzales    17   Coahuila          6205            204
Jimena        Rojas    20  NuevoLeon          7300            240
Alejandra   Saldaña    21   Veracruz          7665            252

## Seleccion en data Freme
1. Seleccion estandar
2. iloc
3. loc
4. Boleanos (filtro)

In [105]:
df_class['Apellido']

Nombre
Juan            Perez
Raul         Gonzales
Jimena          Rojas
Alejandra     Saldaña
Name: Apellido, dtype: object

In [106]:
df_class[['Edad', 'Apellido']]

           Edad  Apellido
Nombre
Juan         23     Perez
Raul         17  Gonzales
Jimena       20     Rojas
Alejandra    21   Saldaña

In [107]:
df_class[0:2] # Selecciona de la fila 1 a las "2"

        Apellido  Edad    Estado  edad en disa  Edad en meses
Nombre
Juan       Perez    23  NuvoLeon          8395            276
Raul    Gonzales    17  Coahuila          6205            204

In [108]:
# elejir columna edad y filas 0,1
df_class[0:2][['Edad', 'Apellido']]

        Edad  Apellido
Nombre
Juan      23     Perez
Raul      17  Gonzales

In [109]:
# Seleccion i.loc o por posicion
# dataframe.iloc[filas, columnas]

df_class.iloc[0:2, 1]

Nombre
Juan    23
Raul    17
Name: Edad, dtype: int64

In [110]:
df_class.iloc[:,1]

Nombre
Juan         23
Raul         17
Jimena       20
Alejandra    21
Name: Edad, dtype: int64

In [111]:
# Seleccion por etiquetas o .loc
# dataframe.loc[filas, columnas] Nombre de columna, no posicion

df_class.loc[:,'Edad']

Nombre
Juan         23
Raul         17
Jimena       20
Alejandra    21
Name: Edad, dtype: int64

In [112]:
df_class.loc['Juan', 'Edad']

23

In [113]:
edad_juan = df_class.loc['Juan', 'Edad']

In [114]:
# Seleccion con condicionales (boleanos)

df_class[df_class['Edad'] > 20]

          Apellido  Edad    Estado  edad en disa  Edad en meses
Nombre
Juan         Perez    23  NuvoLeon          8395            276
Alejandra  Saldaña    21  Veracruz          7665            252

In [115]:
df_class['Edad']

Nombre
Juan         23
Raul         17
Jimena       20
Alejandra    21
Name: Edad, dtype: int64

In [116]:
df_class['Edad'].mean()

20.25

In [117]:
df_class['Edad'].std()

2.5

In [118]:
df_class['Edad'].sum()

81

In [119]:
# np.where(condicion, valor si se cumple, valor si no cumple)  -  Como la funcion SI de excel

import numpy as np

df_class['Mayor de edad'] = np.where(df_class['Edad'] >= 18, 'Mayor de edad', 'Menor de edad')

In [120]:
df_class

,Apellido,Edad,Estado,edad en disa,Edad en meses,Mayor de edad
Nombre,,,,,,
Juan,Perez,23,NuvoLeon,8395,276,Mayor de edad
Raul,Gonzales,17,Coahuila,6205,204,Menor de edad
Jimena,Rojas,20,NuevoLeon,7300,240,Mayor de edad
Alejandra,Saldaña,21,Veracruz,7665,252,Mayor de edad

In [121]:
# np.select  -  SI.CONJUNTO de excel
# np.select(condiciones, valor para cada condicion, valor si no se cumple ninguna condicion)

condiciones = [df_class['Edad']<=17,
               df_class['Edad']<23,
               df_class['Edad']>=23]
valor_condicion = ['Prepa', 'Licenciatura', 'Egresados']

df_class['Condicion Estudio'] = np.select(condiciones, valor_condicion, default = 'Invalido')

In [122]:
df_class

,Apellido,Edad,Estado,edad en disa,Edad en meses,Mayor de edad,Condicion Estudio
Nombre,,,,,,,
Juan,Perez,23,NuvoLeon,8395,276,Mayor de edad,Egresados
Raul,Gonzales,17,Coahuila,6205,204,Menor de edad,Prepa
Jimena,Rojas,20,NuevoLeon,7300,240,Mayor de edad,Licenciatura
Alejandra,Saldaña,21,Veracruz,7665,252,Mayor de edad,Licenciatura

In [123]:
df_class['Edad'].count()

4

In [124]:
df_class.value_counts('Mayor de edad')

Mayor de edad
Mayor de edad    3
Menor de edad    1
Name: count, dtype: int64

In [125]:
df_class.value_counts('Condicion Estudio')

Condicion Estudio
Licenciatura    2
Egresados       1
Prepa           1
Name: count, dtype: int64

In [126]:
df_class['Edad'].mean()

20.25

In [129]:
df_class.groupby('Mayor de edad').mean().round(1)

TypeError: Could not convert PerezRojasSaldaña to numeric

In [132]:
df_class.groupby('Mayor de edad').mean()

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [136]:
# agregate agg  -  Resumir

df_class.agg(['count', 'mean'])

TypeError: Could not convert PerezGonzalesRojasSaldaña to numeric

In [138]:
## Query
df_class.query('Edad>20')

,Apellido,Edad,Estado,edad en disa,Edad en meses,Mayor de edad,Condicion Estudio
Nombre,,,,,,,
Juan,Perez,23,NuvoLeon,8395,276,Mayor de edad,Egresados
Alejandra,Saldaña,21,Veracruz,7665,252,Mayor de edad,Licenciatura

In [142]:
# seleccionar a Alejandra
df_class.query('Nombre=="Alejandra"')

,Apellido,Edad,Estado,edad en disa,Edad en meses,Mayor de edad,Condicion Estudio
Nombre,,,,,,,
Alejandra,Saldaña,21,Veracruz,7665,252,Mayor de edad,Licenciatura

In [143]:
# Seleccionar a Alejandra y los que sean mayores de 20

df_class.query('Nombre=="Alejandra" & Edad > 20')

,Apellido,Edad,Estado,edad en disa,Edad en meses,Mayor de edad,Condicion Estudio
Nombre,,,,,,,
Alejandra,Saldaña,21,Veracruz,7665,252,Mayor de edad,Licenciatura

In [20]:
import pandas as pd
import numpy as np

In [4]:
calificaciones = pd.read_csv('https://raw.githubusercontent.com/jimmyzac/Estadistica-Aplicada-FCFM-UANL/main/bases_datos/Calificaciones.csv')

In [5]:
calificaciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 28 non-null     int64
 1   Nombre             28 non-null     object
 2   Apellido           28 non-null     object
 3   Calficación Final  28 non-null     int64
dtypes: int64(2), object(2)
memory usage: 1.0+ KB

In [7]:
calificaciones.describe()

              Id  Calficación Final
count  28.000000          28.000000
mean   14.500000          52.000000
std     8.225975          34.113102
min     1.000000           1.000000
25%     7.750000          18.500000
50%    14.500000          48.500000
75%    21.250000          85.250000
max    28.000000         100.000000

In [8]:
calificaciones.shape # 28 filas, 4 columnas

(28, 4)

In [12]:
calificaciones.head(2)

   Id   Nombre   Apellido  Calficación Final
0   1  ANTONIO     GARCIA                 73
1   2   MANUEL  FERNANDEZ                 19

In [14]:
calificaciones.tail(7) # ultimas observaciones

    Id       Nombre   Apellido  Calficación Final
21  22     FERNANDO    SALAZAR                 51
22  23        JORGE      RAMOS                 76
23  24         LUIS  DOMINGUEZ                 12
24  25      ALBERTO      ORTIZ                 99
25  26  JUAN CARLOS     IBAÑEZ                 43
26  27       ALVARO    RAMIREZ                 40
27  28       ADRIAN       SAEZ                  7

In [16]:
# Vamos a elejir todas las columnas menos ID

calificaciones = calificaciones.loc[:, calificaciones.columns != 'Id']

In [18]:
# renombrar 
calificaciones = calificaciones.rename(columns={'Calficación Final':'CalFinal'})

In [21]:
calificaciones['Situacion'] = np.where(calificaciones['CalFinal'] >= 70, 'Aprobado', 'Reprobado')

In [29]:
calificaciones.query('CalFinal>=70').count()

Nombre       10
Apellido     10
CalFinal     10
Situacion    10
dtype: int64

In [30]:
calificaciones.value_counts('Situacion')

Situacion
Reprobado    18
Aprobado     10
Name: count, dtype: int64

In [36]:
calificaciones.query('Situacion=="Aprobado"')['CalFinal'].mean()

90.1

In [39]:
calificaciones.query('Situacion=="Reprobado"')['CalFinal'].mean()

30.833333333333332