# Estadistica aplicada
Sesion 8, 24 agosto

Salvador Almaguer Orta - 2076430

Gpo: 41

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# LIB ESPECIALES
import statsmodels.formula.api as smf

In [2]:
datos = pd.read_excel('modelolineal.xlsx')

In [3]:
datos = datos[['X', 'Y']]

In [4]:
datos

     X          Y
0   23  19.246957
1   19  16.878501
2   27  20.187237
3   13  12.176789
4   21  21.420112
5   22  24.436799
6   19  14.507928
7   14  16.013496
8    3  12.043514
9    1   6.808838
10  19  20.473608
11  18  19.688717
12  12  20.405782
13  16  24.959259
14  29  23.913532
15  23  22.719407
16  14  18.680587
17  20  17.192583
18  27  28.422786
19  28  24.757379
20   0   9.544102
21  20  24.230330
22  24  26.417826
23  23  23.066723
24   8  13.145005
25  24  24.385156
26  10  12.934102
27   4  14.002469
28  29  26.599047
29  10  11.910387

In [5]:
# estimar Y = B_0 + B1 x

# especificar modelo
reg1 = smf.ols(formula='Y~X', data=datos)
# estimacion 
results = reg1.fit()
# Mostrar
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      Y   R-squared:                       0.732
Model:                            OLS   Adj. R-squared:                  0.722
Method:                 Least Squares   F-statistic:                     76.40
Date:                Thu, 24 Aug 2023   Prob (F-statistic):           1.72e-09
Time:                        14:21:51   Log-Likelihood:                -74.480
No. Observations:                  30   AIC:                             153.0
Df Residuals:                      28   BIC:                             155.8
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      8.9619      1.276      7.022      0.000       6.347      11.576
X              0.5814      0.067      8.740      0.000       0.445       0.718
==============================================================================
Omnibus:                        0.249   Durbin-Watson:                   1.658
Prob(Omnibus):                  0.883   Jarque-Bera (JB):                0.440
Skew:                           0.121   Prob(JB):                        0.803
Kurtosis:                       2.459   Cond. No.                         44.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [6]:
# Para evaluar un modelo generalmente se usa R^2
# Tambien se suele usar con frecuencia el MAD, MAPE y el MSD.

# MAD: Desviacion absoluta media.
# MSD: Desviacion cuadratica media
# MAPE: Error porcentual absoluto medio

$MAD = (1/n)\sum(|Y-Y_gorro|)$

$MSD = (1/n)\sum((Y-Y_gorro)^2)$

$MAPE = (1/n)\sum(|((Y-Y_gorro)/Y))$

In [9]:
# Definir conjunto de pureba (80%) y conjunto de ebaluacion (20%)

datos['X2'] = datos['X']**2

train_set = datos[:20]
test_set = datos[20:]

In [13]:
# Estimar modelo
# T = B_0 + B1 x

# definimos el mdelo
reg_m1 = smf.ols(formula='Y~X', data=train_set)
#estimamos
result_m1 = reg_m1.fit()

In [14]:
print(result_m1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      Y   R-squared:                       0.615
Model:                            OLS   Adj. R-squared:                  0.594
Method:                 Least Squares   F-statistic:                     28.80
Date:                Thu, 24 Aug 2023   Prob (F-statistic):           4.23e-05
Time:                        14:42:33   Log-Likelihood:                -51.332
No. Observations:                  20   AIC:                             106.7
Df Residuals:                      18   BIC:                             108.7
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      9.2336      2.008      4.598      0.000       5.015      13.453
X              0.5442      0.101      5.367      0.000       0.331       0.757
==============================================================================
Omnibus:                        0.757   Durbin-Watson:                   1.723
Prob(Omnibus):                  0.685   Jarque-Bera (JB):                0.748
Skew:                           0.383   Prob(JB):                        0.688
Kurtosis:                       2.442   Cond. No.                         53.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [17]:
b0 = result_m1.params[0]
b1 = result_m1.params[1]

In [18]:
# Pronostico en conjunto de ealuacion  (gorrito = hat)
test_set['Y_hat'] = b0 + (b1 * test_set['X'])

C:\Users\DELL\AppData\Local\Temp\ipykernel_1572\212567777.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_set['Y_hat'] = b0 + (b1 * test_set['X'])

In [19]:
test_set

     X          Y   X2      Y_hat
20   0   9.544102    0   9.233587
21  20  24.230330  400  20.117395
22  24  26.417826  576  22.294157
23  23  23.066723  529  21.749966
24   8  13.145005   64  13.587110
25  24  24.385156  576  22.294157
26  10  12.934102  100  14.675491
27   4  14.002469   16  11.410349
28  29  26.599047  841  25.015109
29  10  11.910387  100  14.675491

In [22]:
# Estimar el MAD
MAD = (test_set['Y'] - test_set['Y_hat']).abs().mean()
MAD

2.107953156470991

In [26]:
# Especificar modelo
reg2 = smf.ols(formula='Y~X+X2', data = train_set)
# Estimar
result_m2 = reg2.fit()
# 
b0 = result_m2.params[0]
b1 = result_m2.params[1]
b2 = result_m2.params[2]

# Pronosticamos Y en conjunto de ajaluacion
test_set['Y_hat2'] = b0 + b1*test_set['X']+ b2* test_set['X2']

# Evaluamos con MAD
MAD2 = (test_set['Y'] - test_set['Y_hat2']).abs().mean()

C:\Users\DELL\AppData\Local\Temp\ipykernel_1572\4159204236.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_set['Y_hat2'] = b0 + b1*test_set['X']+ b2* test_set['X2']

In [29]:
print(MAD.round(2), MAD2.round(2))

2.11 2.33

In [30]:
# El mejor modelo segun MAD y utilizando validacion cruzada es el modelo Y = B_0 + B_1 x
MAD2

2.334061668653748